* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    background-color: #111827;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 7px;
    background-color: #94a3b8;
    background: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

@tailwind base;
@tailwind components;
@tailwind utilities;